header{
    background-image: url("../img/portada3.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* background-position: 50% 50%; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.h1-nombre{
    color: #ffffff;
    font-weight: bold;
}

.presentacion{
    color: #a3a3a3;
    /* padding-top: 2%; */
    cursor: context-menu;
}

.div-header{
    padding: 10% 0% 20% 10%;
}


@media (max-width: 800px) {
    .presentacion{
        color: #a3a3a3;
        padding-top: 2%;
        cursor: context-menu;
    }
}
